
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model Data.Models.tbStaff
<div class="page-container login-container">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Content area -->
            <div class="content">
                <!-- Simple login form -->
                <div class="panel panel-body  login-form p-20">
                    <div class="text-center">
                    
                        <img src="https://kktstroage.azureedge.net/yammo/careme/default_doctor_photo.jpg" width="100" height="100" />

                        <h5 class="content-group">Login to your account</h5>
                    </div>
                    @using (Html.BeginForm("Index", "Staff", FormMethod.Post, new { id = "loginForm" }))
                    {
                        <label>Username</label>
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" name="Username" placeholder="Username" />
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <label>Password</label>
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" class="form-control" name="Password" placeholder="Password" />
                            <div class="form-control-feedback">
                                <i class="icon-key text-muted"></i>
                            </div>
                        </div>




                        if (ViewBag.Status == "Unauthorize")
                        {
                            <label class="text-danger">Username or password is wrong</label>
                        }



                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-rounded btn-block">Login <i class="icon-circle-right2 position-right"></i></button>
                        </div>

                    }
                </div>

                <!-- /simple login form -->
                <!-- Footer -->
                <div class="footer text-muted">
                    &copy; 2018. <a href="http://yammobots.com" target="_blank">developed by Yammobots</a>
                </div>
                <!-- /footer -->
            </div>
            <!-- /content area -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->
</div>




