<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <add name="HISDBContext" connectionString="Data Source=DESKTOP-1D12VVK;Initial Catalog=HISDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="TruckDBContext" connectionString="Data Source=DESKTOP-6G32JC6;Initial Catalog=TruckDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="PizzaCompanyContext" connectionString="Data Source=DESKTOP-UEJPIRR;Initial Catalog=PizzaCompany;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="FdyDBContext" connectionString="Data Source=DESKTOP-6E60183\SQLSERVER;Initial Catalog=FdyDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="EcomDBContext" connectionString="Data Source=DESKTOP-IMUUO7R\SQLSERVER;Initial Catalog=EcomDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="DCDBContext" connectionString="Data Source=DESKTOP-IMUUO7R\SQLSERVER;Initial Catalog=DCDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
