.front-indicator {
    margin: 5px 32px 15px 32px;
    background-color: #f6f6f6;
    color: #adadad;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}

.booking-details {
    padding: 10px;
    font-size: 12px;
    position: relative;
}

    .booking-details h2 {
        margin: 25px 0 20px 0;
        font-size: 17px;
    }

    .booking-details h3 {
        margin: 5px 5px 0 0;
        font-size: 14px;
    }

div.seatCharts-cell {
    color: #182C4E;
    height: 35px;
    width: 35px;
    line-height: 35px;
}



div.seatCharts-seatCPL {
    width: 76px !important;
    color: #FFFFFF;
    cursor: pointer;
}
    /*div.seatCharts-row {
	height: 35px;
}*/
    div.seatCharts-seatCPL.available {
        border: 0.5px solid #0084FF;
        color: #0084FF;
    }


        div.seatCharts-seatCPL.available.first-class {
            /* 	background: url(vip.png); */
            background-color: #1783D6;
        }

    div.seatCharts-seatCPL.focused {
        background-color: #1C7EC9;
    }

    div.seatCharts-seatCPL.selected {
        background-color: #0084FF;
    }

    div.seatCharts-seatCPL.unavailable {
        background-color: #d4e1f2;
        color: #2a86dc;
        border-color: #2a86dc;
    }




div.seatCharts-seat {
    color: #FFFFFF;
    cursor: pointer;
}
    /*div.seatCharts-row {
	height: 35px;
}*/
    div.seatCharts-seat.available {
        border: 0.5px solid #0084FF;
        color: #0084FF;
    }


        div.seatCharts-seat.available.first-class {
            /* 	background: url(vip.png); */
            background-color: #1783D6;
        }

    div.seatCharts-seat.focused {
        background-color: #1C7EC9;
    }

    div.seatCharts-seat.selected {
        background-color: #0084FF;
    }

    div.seatCharts-seat.unavailable {
        background-color: #d4e1f2;
        color: #2a86dc;
        border-color: #2a86dc;
    }



.available-seat {
    border: 0.5px solid #0084FF;
    color: #0084FF;
}

div.seatCharts-seat.available.female-seat {
    border: 0.5px solid #b200ff;
    color: #b200ff;
}

div.seatCharts-seat.available.blockedSeat {
    border: 0.5px solid #b200ff;
    color: #b200ff;
}

.blocked {
    background-image: url("../Images/padlock.png");
    color: rgba(0, 0, 0, 0.0) !important;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center; 
    z-index:-1;
}